{% extends 'layout2.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %} {{ parent() }}{% endblock %}
{% block body %}
    {{ parent() }}

<div class="card text-center mb-5">
    <h4 class="card-header"><strong>Etape 3</strong></h4>
    <div class="card-body mb-3">
        <h5>Félicitation vous êtes désormais connecté en tant qu'Utilisateur !</h5>
        <h6 class="text-dark">Vous êtes désormais : <strong>{{ visitor_booker_chosen.firstname }} {{ visitor_booker_chosen.lastname }}</strong>
        <br> procédons à une réservation.
        </h6>

        <div class="row mb-3 mt-3">
            <div class="col">
                <table class="table table-bordered ">
                    <thead>
                        <tr class="bg-primary">
                           <td colspan="2">
                               <h5 class="text-light">
                               <strong>{{ visitor_booker_chosen.firstname }} {{ visitor_booker_chosen.lastname }}</strong>
                               </h5>
                           </td>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="bg-light">
                            <img src="{{ asset('images/icons/user-account.png') }}" />
                        </td>
                        <td>

                            Nom : <strong>{{ visitor_booker_chosen.lastname }}</strong> <br>
                            Prénom : <strong>{{ visitor_booker_chosen.firstname }}</strong> <br>
                            Mail : <strong>{{ visitor_booker_chosen.email }}</strong>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-bordered ">
                    <thead>
                    <tr class="bg-primary">
                        <td colspan="2">
                            <h5 class="text-light">
                              <strong>Calendrier</strong>
                            </h5>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="bg-light">
                            <img src="{{ asset('images/icons/calendar-icon.png') }}" />
                        </td>
                        <td>
                            {{ form_start(form) }}
                            {{ form_row(form.dateStart) }}

                        </td>
                    </tr>
                    <tr>
                        <td class="bg-light">
                            <img src="{{ asset('images/icons/alarm.png') }}" />
                        </td>
                        <td>
                        <h6 class="mb-3">Nombre d'heure(s)</h6>
                        {{ form_widget(form.duration) }}
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="2">
                            {{ form_rest(form) }}
                            {{ form_end(form) }}
                        </td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>

</div>



{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

