{% extends 'layout2.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %} {{ parent() }}{% endblock %}
{% block body %}
{{ parent() }}



    {% if 'ROLE_ADMIN' not in visitor.roles %}

    <div class="card text-center mb-5">
        <h4 class="card-header"><strong>Etape 1</strong></h4>
        <div class="card-body mb-3">
            <h5 class="card-title">EasyBoardRoom démonstration</h5>
            <p class="card-text">Merci d'entrer votre adresse email afin de recevoir les résultats.</p>
            <form action="{{ path('register_visitor') }}" method="post" name="form_visitor">
                <div class="form-group">
                    <label for="visitor_mail">Votre adresse mail</label>
                    <input type="email" class="form-control form-control-lg" name="email_visitor_admin" id="visitor_mail" aria-describedby="emailHelp" placeholder="Votre email">
                </div>

                <button type="submit" class="btn btn-dark">Continuer</button>
            </form>


        </div>
    </div>

    {% endif %}

{% endblock %}
