{% extends 'layout2.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %} {{ parent() }}{% endblock %}
{% block body %}
    {{ parent() }}


<div class="card text-center mb-5">
    <h4 class="card-header"><strong>Etape 2</strong></h4>
    <div class="card-body mb-3">
        <h5 class="card-title">Vos informations de connexion</h5>
        <h6 class="card-subtitle mb-3"><cite>(Notez les bien)</cite></h6>
        <div class="row mb-3">
            <div class="col">
                <a href="{{ path('change_visitor_status',{'idVisitorAdmin' : admin.id ,'idVisitorBooker' : admin.id}) }}">
                    <table class="table table-bordered" id="tbl-admin">
                        <thead>
                            <tr class="table-secondary">
                                <td colspan="2"><strong>Visiteur admin</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="bg-warning">Prénom</td>
                            <td class="bg-light">{{ admin.firstname }}</td>
                        </tr>
                        <tr>
                            <td class="bg-warning">Nom</td>
                            <td class="bg-light">{{ admin.lastname }}</td>
                        </tr>
                        <tr>
                            <td class="bg-warning">Email</td>
                            <td class="bg-light">{{ admin.email }}</td>
                        </tr>
                        <tr>
                            <td class="bg-warning">Password</td>
                            <td class="bg-light"><cite><strong>easyone</strong></cite></td>
                        </tr>
                        </tbody>
                        <tr class="table-secondary">
                            <td colspan="2" class="pb-1 pt-1">
                                <br>
                            </td>
                        </tr>
                    </table>
                </a>
            </div>
            <div class="col">
                <a href="{{ path('change_visitor_status',{'idVisitorAdmin': admin.id, 'idVisitorBooker': booker1.id }) }}">
                    <table class="table table-bordered" id="tbl-user1">
                        <thead>
                        <tr class="table-secondary">
                            <td colspan="2"><strong>Visiteur User1</strong></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="bg-info">Prénom</td>
                            <td class="bg-light">{{ booker1.firstname }}</td>
                        </tr>
                        <tr>
                            <td class="bg-info">Nom</td>
                            <td class="bg-light">{{ booker1.lastname }}</td>
                        </tr>
                        <tr>
                            <td class="bg-info">Email</td>
                            <td class="bg-light">{{ booker1.email }}</td>
                        </tr>

                        </tbody>
                        <tr class="table-secondary">
                            <td colspan="2" class="pb-4 pt-3">
                                <br>
                            </td>
                        </tr>
                    </table>
                </a>
            </div>
            <div class="col">
                <a href="{{ path('change_visitor_status',{'idVisitorAdmin': admin.id, 'idVisitorBooker': booker2.id }) }}">
                    <table class="table table-bordered" id="tbl-user2">
                        <thead>
                        <tr class="table-secondary">
                            <td colspan="2"><strong>Visiteur User2</strong></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="bg-info">Prénom</td>
                            <td class="bg-light">{{ booker2.firstname }}</td>
                        </tr>
                        <tr>
                            <td class="bg-info">Nom</td>
                            <td class="bg-light">{{ booker2.lastname }}</td>
                        </tr>
                        <tr>
                            <td class="bg-info">Email</td>
                            <td class="bg-light">{{ booker1.email }}</td>
                        </tr>

                        </tbody>
                        <tr class="table-secondary">
                            <td colspan="2" class="pb-4 pt-3">
                                <br>
                            </td>
                        </tr>
                     </table>
                </a>
            </div>
        </div>
        <h5 class="card-title">Pour démarrer séléctionner un utilisateur !</h5>

    </div>
</div>


{% endblock %}

