{% extends 'layout2.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %} {{ parent() }}{% endblock %}
{% block body %}
    {{ parent() }}

<div class="card text-center shadow-lg mb-5" id="first-card">
    <div class="card-header pb-2">
       <h4><strong>GESTION ADMINISTRATEUR</strong></h4>
        <h5>Mode Visiteur&nbsp;<img src="{{ asset('images/icons/interrog.png') }}" id="btn-infos-visitor"/></h5>
        <a href="{{ path('user_booking',{'id' : visitor_admin.id,'deleted' : null}) }}" class="btn btn-outline-dark">Retour</a>
        <div id="panneau-infos-visitor" class="mt-3">
            <h6>
            <strong>En tant que visiteur, vous ne pouvez pas :</strong><br><br>
                    <cite>- Ajouter, Editer,Supprimer un profil utilisateur</cite><br>
                    <cite>- Avoir des statistiques détaillées sur l'activité des utilisateurs ou des salles</cite><br>
                    <cite>- Ajouter de nouvelles salles ainsi que les modifier </cite><br><br>
                Pour des roles plus étendus, merci de me contacter&nbsp;
                <a href="{{ path('contact_us') }}">
                    <img src="{{ asset('images/icons/message.png') }} " width="24px" height="24px" id="btn-contact">
                </a>
            </h6>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-sm-6" >
            <div class="card shadow-lg">
                <div class="card-body">
                    <h5 class="card-title">Activité utilisateurs</h5>
                    <img src="{{ asset('images/icons/back.png') }}" id="btn-back-users" class="btn-view-down">
                       <div id="bloc-activity-users">
                            <div class="row">
                                <div class="col ml-3  box-user">
                                    <img src="{{ asset('images/icons/account-36p.png') }}"/><br>
                                    {{ lastname_booker1 }}<br>
                                    <span class="badge badge-primary mb-3 p-2">Nb Reserv.en cours&nbsp;<span class="badge badge-light">{{ bookings_booker1|length }}</span></span><br>
                                    <span class="badge badge-primary mb-3 p-2">Nb Heures.cumul.&nbsp;<span class="badge badge-light">{{ duration_booker1|length }} h</span></span><br>
                                    <a href="#panneau-infos-visitor" class="btn btn-dark btn-sm btn-edit-user-visitor">Détails</a>
                                </div>
                                <div class="col mr-3 box-user">
                                    <img src="{{ asset('images/icons/account-36p.png') }}"/><br>
                                    {{ lastname_booker2 }}<br>
                                    <span class="badge badge-primary mb-3 p-2">Nb Reserv.en cours&nbsp;<span class="badge badge-light">{{ bookings_booker2|length }}</span></span><br>
                                    <span class="badge badge-primary mb-3 p-2">Nb Heures.cumul.&nbsp;<span class="badge badge-light">{{ duration_booker2|length }} h</span></span><br>
                                    <a href="#panneau-infos-visitor" class="btn btn-dark btn-sm btn-edit-user-visitor">Détails</a>
                                </div>
                                <div class="col ml-3 mr-3 box-user">
                                    <img src="{{ asset('images/icons/account-36p.png') }}"/><br>
                                    Vous<br>
                                    <span class="badge badge-danger mb-3 p-2">Nb Reserv.en cours&nbsp;<span class="badge badge-light">{{ bookings_admin|length }}</span></span><br>
                                    <span class="badge badge-danger mb-3 p-2">Nb Heures.cumul.&nbsp;<span class="badge badge-light">{{ duration_admin|length }} h</span></span><br>
                                    <a href="#panneau-infos-visitor" class="btn btn-dark btn-sm btn-edit-user-visitor">Détails</a>
                                </div>
                            </div>
                       </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h5 class="card-title">Activité salles</h5>
                    <img src="{{ asset('images/icons/back.png') }}" id="btn-back-salle" class="btn-view-down">
                        <div id="bloc-activity-rooms">
                            <div class="list-group">
                                <button type="button" class="list-group-item list-group-item-action bg-light rounded">
                                    <strong>Réservations / Qualité</strong><br>
                                    <span class="badge badge-primary p-2 mb-2 mt-2">Nombre de fois réservée<br>Taux de réservation</span>
                                    <br>
                                    <span class="badge badge-warning p-2">Qualité de la salle (% de satisfaction)</span>
                                    <br>
                                    <a href="#first-card" class="btn btn-outline-dark mt-3" id="plus-details"><small>plus de détails</small></a>
                                </button>
                            </div>
                            {% for room in tab_room %}
                                <button type="button" class="list-group-item list-group-item-action">
                                    <a href="{{ path('view_room_from_panel_visitor',{'id' :room.id,'idvisitor':visitor_admin.id}) }}">
                                        <img src="{{ asset('images/room/' ~ room.image) }}"  width="100px" height="100px" class="img-room">
                                    </a>
                                        <br>
                                    <strong>{{ room.name }}</strong>
                                    <br>
                                    <span class="badge badge-primary p-2 mb-2">
                                         Réservée  :
                                        <span class="badge badge-light circle p-2">
                                            {{ room.totalBooking }}  fois
                                        </span><br><br>
                                        Taux de réservation :
                                        <span class="badge badge-light circle p-2">
                                            {{ room.taux|number_format }} %
                                        </span>
                                    </span>
                                    <br>
                                    <span class="badge badge-warning p-2">
                                        Qualité :
                                        <span class="badge badge-light circle p-2">
                                            {% if room.maxrate == '0' %}
                                                Qualité : <cite>pas de vote</cite>
                                            {% else %}
                                                Taux de satisfaction : {{ room.quality|number_format }} %
                                            {% endif %}
                                        </span>

                                    </span>

                                </button>

                            {% endfor %}


                        </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

