{% extends 'layout2.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %} {{ parent() }}{% endblock %}
{% block body %}
    {{ parent() }}


   {


    <p class="text-center">STATUT : {{ status }}</p>
    <p class="text-center">Nom Current User : {{ current_visitor_name }}</p>
    <p class="text-center">Dump du visiteur recherché :</p><br>
    <pre>
        {{ dump(visitor_asked) }}
    </pre>
{#    {{ dump(idVisitorAdmin) }}<br>#}
{#    {{ dump(idVisitorBooker) }}#}
{% endblock %}

