


#tbl-user1:hover {
    border: 3px solid #00bb00;
}
#tbl-user2:hover {
    border: 3px solid #00bb00;

}
#tbl-admin:hover {
    border: 3px solid #00bb00;

}
#panneau-control {
    display: none;
    position: relative;

}
#paneau-connection{
    display: none;
    position: relative;
}

#view-panneau-connect:hover {
    border: 2px solid black;
    border-radius:  10px;

}
#oeil:hover {
    border: 2px solid black;
    border-radius:  20px;
}


footer {
    display: inline-block;
    position: relative;
    color: #d5d5d5;
    padding: 50px 0 65px;
}

footer .list-inline {
    margin: 0;
    padding: 0;

}

footer .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
}
#foot-page{
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 10px;
}
#panneau-infos-visitor {
    display: none;
    position: relative;
    text-align: left;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
}
#btn-contact:hover{
    border: 2px solid black;
    border-radius: 12px;
    padding: 2px;
}
#btn-infos-visitor:hover{
    border: 2px solid black;
    border-radius: 15px;
}
.btn-view-down:hover{
    border: 2px solid black;
    border-radius: 15px;
    margin-bottom: 5px;
}
#bloc-activity-users{
    display: none;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;

}
#bloc-activity-rooms{
    display: none;
}
.box-user{
    display: inline-block;
    position: relative;
    background: #d5d5d5;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.img-room:hover{
    border: 2px solid black;
    border-radius: 12px;
    padding: 2px;
}