{% extends 'layout2.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %} {{ parent() }}{% endblock %}
{% block body %}
    {{ parent() }}
<div class="container mb-5" id="bloc-contact-us" >
<div class="card text-center mb-5 mt-3">
    {{ form_start(form) }}
    <h4 class="card-header"><strong>Contactez-nous</strong></h4>
    <div class="card-body text-center">
        <div class="row">
            <div class="col-md-3">
                <img src="{{ asset('images/icons/mail.png') }}">
                {{ form_row(form.mail) }}
            </div>
            <div class="col-md-9">
                <img src="{{ asset('images/icons/edit2.png') }}">
                {{ form_row(form.message) }}
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-dark">Envoyer</button>
    </div>
    {{ form_end(form) }}
</div>
</div>
<br>

{% endblock %}

