<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
    <style type="text/css">
        table {
            border: 2px solid #0c5460;
            border-radius: 8px;
            background: black;
            color: white;
            padding: 10px;
        }
        td.bloc-logo {
            position: relative;
            display: inline-block;
            text-align: center;
            background: white;
            margin-bottom: 50px;


            border: 1px solid white;
            border-radius: 20px;
        }

        tr.white-champ {
            background: white;
            color: black;

        }
        td.message-from {

            border: 1px solid white;
            border-radius: 10px;
            width: 500px;
            font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
            font-size: 16px;
        }

    </style>
</head>

<body>



        <table cellspacing="20" cellpadding="10">
            <thead>
                <tr align="center">
                    <td class="bloc-logo" >
                        <img src="{{ logo }}">
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr class="white-champ">
                    <td class="message-from">
                        Nouveau message de :  <strong> {{ email_from }}</strong>
                    </td>

                </tr>
                <tr class="white-champ">
                    <td class="message-from">
                        <p>
                          <strong>{{ message_from }}</strong>
                        </p>

                    </td>

                </tr>
            </tbody>
        </table>


</body>
</html>