{% extends 'layout2.html.twig' %}

{% block title %}Salles{% endblock %}
{% block stylesheets %} {{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Création de salle</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.capacity) }}
    {{ form_row(form.photo) }}
    <div class="text-right">
        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
        <a href="{{ path('room_index') }}"
           class="btn btn-outline-secondary">
            Retour
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}
