{% extends 'layout2.html.twig' %}
{% block title %}{% endblock %}
{% block stylesheets %}{{ parent() }} {% endblock %}
{% block body %}
    {{ parent() }}
<div class="container">
    <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h3><strong> {{ room.name }}</strong></h3>
                        {% if duration == null %}
                            {% if app.user is_granted('ROLE_VISITOR_ADMIN') %}
                                <a href="{{ path('panel_admin',{'id' : app.user.id }) }}" class="btn btn-dark">Retour</a>
                                {% else %}
                            <a href="{{ path('booking_display') }}" class="btn btn-dark">
                                Retour
                            </a>
                            {% endif %}
                        {% else %}
                        <form method="get"  action="{{ path('booking_availability') }}">
                            <input type="hidden" name="fromViewRoom" value=true>
                            <input type="hidden" name="dateStart" value="{{ date_start }}">
                            <input type="hidden" name="duration" value="{{ duration }}">
                            <button type="submit" name="availability" class="btn btn-dark">Retour</button>
                        </form>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <img class="card-img-top" src="{{ asset('images/room/' ~ room.image.name) }}" alt="{{ room.name }}">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title"><strong>Equipements :</strong></h6>
                        <p class="card-text">
                            {{ room.facilities }}
                        </p>
                        <h6 class="card-title"><strong>Capacité : </strong></h6>
                        <p class="card-text">
                            {{ room.capacity }} pers.
                        </p>
                    </div>
                </div>
            </div>
    </div>
</div>

{% endblock %}


