{% extends 'layout2.html.twig' %}
{% block title %}{% endblock %}
{% block stylesheets %}{{ parent() }} {% endblock %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>
                            <strong> {{ room.name }}</strong>
                        </h3>
                        <a href="{{ path('panel_admin',{'id' : id_admin }) }}"
                                   class="btn btn-dark">Retour
                        </a>
                    </div>
                    <div class="card-body">
                        <img class="card-img-top"
                             src="{{ asset('images/room/' ~ room.image.name) }}"
                             alt="{{ room.name }}">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title"><strong>Equipements :</strong></h6>
                        <p class="card-text">
                            {{ room.facilities }}
                        </p>
                        <h6 class="card-title"><strong>Capacité : </strong></h6>
                        <p class="card-text">
                            {{ room.capacity }} pers.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}