{% extends 'layout2.html.twig' %}
{% block title %}{% endblock %}
{% block stylesheets %}{{ parent() }} {% endblock %}
{% block body %}
{{ parent() }}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Gestion de salles</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card text-center">
                                    {% if form is defined %}
                                    {{ form_start(form) }}

                                    <div class="card-header">Créer une salle<br></div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_row(form.name) }}
                                                    </div>
                                                    <div class="form-group">
                                                        {{ form_row(form.capacity) }}
                                                    </div>
                                                    <div class="form-group">
                                                        {{ form_row(form.facilities) }}
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_row(form.image) }}
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    <div class="clearfix"></div>


                                    <div class="col-lg-12 text-center">
                                        <div class="card-footer">
                                            <div id="success"></div>
                                            <button id="sendMessageButton" class="btn btn-outline-dark btn-xl text-uppercase" type="submit">Création</button>
                                        </div>
                                    </div>
                                    {{ form_end(form) }}
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p class="copyright text-muted">Copyright &copy; EasyBoardRoom 2019</p>

                </div>
            </div>
        </div>
    </footer>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}