{% extends 'layout2.html.twig' %}

{% block title %}Vos réservations{% endblock %}
{% block stylesheets %}{{ parent() }} {% endblock %}

{% block body %}
    {{ parent() }}
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">NOUVEL ACCES</h2>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

                <div class="row">
                    <div class="col-md-12">
                        <div class="card text-center">
                            {% if form_register is defined %}
                                {{ form_start(form_register) }}
                                <div class="card-header">Ajouter un utilisateur</div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ form_row(form_register.lastname) }}
                                            </div>
                                            <div class="form-group">
                                                {{ form_row(form_register.firstname) }}
                                            </div>
                                            <div class="form-group">
                                                {{ form_row(form_register.email) }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ form_row(form_register.plainPassword) }}
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="clearfix"></div>


                                    <div class="col-lg-12 text-center">
                                        <div class="card-footer">
                                        <div id="success"></div>
                                        <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Ajouter</button>
                                        </div>
                                     </div>
                                {{ form_end(form_register) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                   </div>
    </div>
</div>
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p class="copyright text-muted">Copyright &copy; EasyBoardRoom 2019</p>

                </div>
            </div>
        </div>
    </footer>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
