<!DOCTYPE html>
<html lang="fr">
<head>
<style type="text/css">
table {
    border: 2px solid #0c5460;
    border-radius: 8px;
    background: #b9d9eb;
    padding: 10px;
}
button {
    background-color: #0f6674;
    color: white;
    border-radius: 10px;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    color: yellow;
    }
</style>
    <meta charset="UTF-8">
    <title>Confirmation</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td align="center">
                   <img src="{{ logo }}">
                </td>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td align="left">
           <h4>Confirmation de réservation</h4>
                <p>
                    Bonjour {{ firstName }} {{ lastName }}, <br>
                    nous vous confirmons votre réservation faîte en date du {{ dateOfBooking }},<br>
                    pour le <strong>{{ dateStart }}</strong> à <strong>{{ hourStart }}</strong>,<br>
                    dans la salle : <strong>{{ roomName }}</strong>.
                </p>
                <a href="#"><button type="button">Mon compte</button></a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td align="center">
                <cite>Merci d'annuler votre réservation 24h avant.</cite>
            </td>
        </tr>
        </tfoot>
    </table>
</body>
</html>