{% extends 'layout2.html.twig' %}
{% block title %}{% endblock %}
{% block stylesheets %}{{ parent() }} {% endblock %}
{% block body %}
{{ parent() }}
<div class="container">
    <div class="row">
        <div class="table-responsive mt-3">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                <tr>
                    <th colspan="7" class="thead-dark text-center text-uppercase">Nouvelle reservation</th>
                </tr>
                <tr>
                    <td>Utilisateur : <br><strong> {{ app.user }} </strong></td>
                    <td colspan="{{ rooms|length }}" class="text-center text-uppercase">
                        Planning du :
                        <strong> {{ planing_date|date('d-m-Y') }} </strong><br>
                        Nombre d'heure(s) choisie(s) : <strong>{{ duration }} </strong>heure(s)
                    </td>
                </tr>
                <tr>
                    <th scope="col" class="text-center">
                        Horaires / Salles
                    </th>
                    {% for room in rooms %}
                        <th scope="col" class="text-center">
                            {{ room.name }} <br>
                            <a href="{{ path('view_room',{'id': room.id, 'startdate': planing_date|date('d-m-Y'),'duration':duration}) }}">
                                <img id="img_select" src="{{ asset('images/room/' ~ room.image.name) }}" width="100px" height="100px" />
                            </a>
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for timeslot in timetable %}
                    {% if timeslot_actual|date('d-m-Y') <= planing_date|date('d-m-Y') and timeslot_actual|date('H:i') <= timeslot.hourStart | date('H:i')  %}
                        <tr>
                            <td class="bg-info text-center">
                                {{ timeslot.hourStart|date('H:i') }} - {{ timeslot.hourEnd | date('H:i') }}
                            </td>
                            {% for room in rooms %}

                                {% if checkRoomAvailability(room.id, planing_date, timeslot.hourStart) %}
                                    <td class="bg-success text-center">
                                        <a href="{{ path('booking_book',{
                                            'id' : room.id,
                                            'dateStart' : timestamp,
                                            'hourStart' : timeslot.hourStart | date('H:i'),
                                            'duration' : duration,
                                        }) }}" class="btn btn-sm btn-success">Disponible</a>

                                    </td>
                                {% else %}
                                    <td class="bg-danger text-center">
                                        {% set resa = checkWaitingList(room.id, planing_date, timeslot.hourStart) %}
                                        {% set last_name_booker, first_name_booker, booking_id = resa.user.lastname, resa.user.firstname, resa.id %}
                                        <strong>Réservé par
                                        <p class="text-warning">{{ first_name_booker }} {{ last_name_booker }}</p>
                                        </strong><br>

                                            {% if resa.userwaitinglist is null and resa.user.id != app.user.id %}
                                                <a class="btn btn-info text-sm-center"
                                                   href="
                                                    {{ path('booking_waiting_list',{
                                                       'status' : 'room_in_waiting_list',
                                                       'id' : booking_id })
                                                    }}
                                                    ">
                                                    Liste d'attente
                                                </a>
                                                {% set current_user_id = app.user.id %}
                                            {% else %}
                                                <p class="text-warning"><strong>Liste d'attente impossible</strong></p>
                                            {% endif %}
                                    </td>

                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% elseif timeslot_actual|date('d-m-Y') < planing_date|date('d-m-Y') %}
                            <tr>
                                <td class="bg-info text-center">
                                    {{ timeslot.hourStart|date('H:i') }} - {{ timeslot.hourEnd | date('H:i') }}
                                </td>
                                {% for room in rooms %}

                                    {% if checkRoomAvailability(room.id, planing_date, timeslot.hourStart) %}
                                        <td class="bg-success text-center">
                                            <a href="{{ path('booking_book',{
                                                'id' : room.id,
                                                'dateStart' : timestamp,
                                                'hourStart' : timeslot.hourStart | date('H:i'),
                                                'duration' : duration,
                                            }) }}" class="btn btn-sm btn-success">Disponible</a>

                                        </td>
                                    {% else %}
                                        <td class="bg-danger text-center">
                                            {% set resa = checkWaitingList(room.id, planing_date, timeslot.hourStart) %}
                                            {% set last_name_booker, first_name_booker, booking_id = resa.user.lastname, resa.user.firstname, resa.id %}
                                            <strong>Réservé par
                                                <p class="text-warning">{{ first_name_booker }} {{ last_name_booker }}</p>
                                            </strong><br>

                                            {% if resa.userwaitinglist is null and resa.user.id != app.user.id %}
                                                <a class="btn btn-info text-sm-center"
                                                   href="
                                                    {{ path('booking_waiting_list',{
                                                       'status' : 'room_in_waiting_list',
                                                       'id' : booking_id })
                                                   }}
                                                    ">
                                                    Liste d'attente
                                                </a>
                                                {% set current_user_id = app.user.id %}
                                            {% else %}
                                                <p class="text-warning"><strong>Liste d'attente impossible</strong></p>
                                            {% endif %}
                                        </td>

                                    {% endif %}
                                {% endfor %}
                            </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p class="copyright text-muted">Copyright &copy; EasyBoardRoom 2019</p>

                </div>
            </div>
        </div>
    </footer>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
