{% extends 'layout2.html.twig' %}

{% block title %}Réservation{% endblock %}
{% block stylesheets %} {{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Réservation en cours</h1>

    <div class="text-right">
        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
        <a href="{{ path('booking') }}"
           class="btn btn-outline-secondary">
            Retour
        </a>
    </div>
{% endblock %}
