<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue{% endblock %}</title>
        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>