    </div>

    <footer class="masthead"  style="background-image: url('{{ asset('images/footer4-3.jpg') }}')">

        <p class="text-white ml-4">
            <small>
                <strong>Copyright &copy; 2019 EasyBoardRoom</strong>
            </small>
        </p>
        <div class="container"  >
            <div class="row col-lg-12 col-md-12 mx-auto mb-2 pt-2 pb-2 text-center" id="foot-page">


            <a href="https://www.linkedin.com/in/s%C3%A9bastien-verger-910735142/" target="_blank"> <img src="{{ asset('images/icons/linkedin.png') }}" width="36px" height="36px"></a>
            <a href="https://gitlab.com/seb_vrg/easyboardroom/" target="_blank"><img src="{{ asset('images/icons/git.jpg') }}" width="36px" height="36px" class="ml-5"></a>
                <a href="{{ path('contact_us') }}\#bloc-contact-us">
                    <img src="{{ asset('images/icons/contact.png') }}" width="36px" height="36px" class="ml-5">
                </a>

            </div>
        </div>
    </footer>