{% extends "base.html.twig" %}
{% block stylesheets %}

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/clean-blog.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/visitors.css') }}" rel="stylesheet">
    <link href="{{ asset('lib/bootstrap/bootstrap.min.css') }}" rel="stylesheet" >
    <link href="{{ asset('css/rate.css') }}" rel="stylesheet">
    <link href="{{ asset('mbd/css/mbd.min.css') }}"  rel="stylesheet">

    <!-- mbd -->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

<!-- Custom fonts for this template -->
    <link href="{{ asset('fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css"rel="stylesheet">

{% endblock %}
{% block title %}Welcome to EASYBOARDROOM SOLUTION{% endblock %}
{% block body %}
<div>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{{ asset('/') }}">EasyBoardRoom</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                 {% if app.user is not null and is_granted('ROLE_ADMIN') %}

                  <li class="nav-item">
                    <div class="btn-group">
                         <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Salles
                         </button>
                         <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('list_rooms') }}">Liste</a>
                            <a class="dropdown-item" href="{{ path('add_room') }}">Création</a>

                         </div>

                    </div>
                  </li>
                  <li class="nav-item">&nbsp;</li>
                  <li class="nav-item">
                    <div class="btn-group">
                         <button type="button" class="btn btn-outline-light  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Utilisateurs
                         </button>
                         <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('admin_edit_user') }}">Liste</a>
                            <a class="dropdown-item" href="{{ path('admin_register') }}">Ajouter</a>

                         </div>

                    </div>
                  </li>
                   <li class="nav-item">&nbsp;</li>
                 {% endif %}


                {% if app.user is not null %}
                <li class="nav-item">
                     <div class="btn-group">
                         <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Réservations
                         </button>
                         <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('user_booking',{'id': app.user.id }) }}">Mes Réservations</a>
                            <a class="dropdown-item" href="{{ path('booking_create') }}">Nouvelle Réservation</a>

                         </div>

                    </div>
                </li>
                {% endif %}
                 <li class="nav-item">
                    <a class="nav-link" href="{{ path('booking_display') }}">Planning</a>
                </li>
                   {% if app.user is null %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('login') }}\#bloc-connectez-vous" id="btn-login">Se connecter</a>
                </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('logout') }}">Déconnexion</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>


<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ asset('images/room/boardroom_home.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>EasyBoardRoom</h1>
                    <span class="subheading">
                    <cite>The organization otherwise !</cite>
                    <p class="text-center">Réservez vos heures de travail.</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            {% if type == 'error' %}
                {% set type = 'danger' %}
            {% endif %}
            <div class="alert alert-{{ type }} mt-2 text-center">
              <strong>{{ message|raw }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
 </div>
<div class="container mb-5 text-center">
    <div class="row" id="bloc-welcome">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <h2 class="post-title">Bienvenue sur EasyBoardRoom !</h2>
                    <h5 class="post-title">
                        {% if app.user is not null %}
                           {% if 'ROLE_VISITOR_ADMIN' in app.user.roles %}

                           <h5 class="text-dark">Utilisateur connecté :<p class="text-danger">{{ app.user }} </p></h5>
                           {% else %}
                             <div class="typo_user_connected text-uppercase mb-3">Utilisateur connecté : {{ app.user }}</div>
                             {% endif %}
                        {% else %}

                            <div class="typo_user_connected  mb-3">Connectez-vous afin de réserver une salle ou visualiser le planning
                                du jour ou découvrez l'application en vous connectant avec les identifiants suivants <a href="#paneau-connection"> <img src="{{ asset('images/icons/back.png') }}" id="view-panneau-connect"></a>

                            </div>
                            <div class="card" id="paneau-connection">
                                    <div class="row">
                                        <div class="col">
                                            <p class="card-text ml-3 mt-3 mb-3">
                                               <img src="{{ asset('images/icons/mail.png') }}" /> : <cite>visitor@vrgdev.com</cite><br>
                                               <img src="{{ asset('images/icons/password.png') }}" /> : <cite>easyone</cite>
                                            </p>
                                        </div>
                                        <div class="col">

                                              <p class="card-text ml-3 mt-3 mb-3">
                                                   <a href="#chpmail">
                                                    <img src="{{ asset('images/icons/accountp.png') }}" />
                                                    </a>
                                              </p>
                                        </div>
                                    </div>
                                    <form method="post" action="{{ path('login') }}" class="mt-4" >
                                        <div class="row">
                                              <div class="col-md-6">
                                                   <div class="form-group" id="chpmail">
                                                         <label >Email</label>
                                                         <input type="text" name="_username" value="visitor@vrgdev.com" class="form-control">
                                                    </div>
                                              </div>
                                              <div class="col-md-6">
                                                   <div class="form-group">
                                                       <label >Mot de passe</label>
                                                       <input type="password" name="_password" value="easyone" class="form-control">
                                                   </div>
                                              </div>
                                              <div class="card-footer">
                                                   <div id="success"></div>
                                                   <button id="sendMessageButton" class="btn btn-outline-dark btn-xl text-uppercase" type="submit"> Connexion</button>
                                              </div>

                                        </div>
                                    </form>
                            </div>

                        {% endif %}
                    </h5>
        </div>

    </div>

</div>


{% endblock %}
{% block footer %}
{% include 'footer.html.twig' %}
{% endblock %}
{% block javascripts %}

<!-- Bootstrap core JavaScript -->
<script src="{{ asset('theme/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('theme/bootstrap/js/bootstrap.bundle.min.js') }}"></script>


 <script type="text/javascript" src="{{ asset('mbd/js/popper.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('mbd/js/mdb.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('mbd/js/bootstrap.min.js') }}"></script>
<!-- Contact form JavaScript -->
<script src="{{ asset('js/jqBootstrapValidation.js') }}"></script>
<script src="{{ asset('js/contact_me.js') }}"></script>
<script src="{{ asset('js/visitors.js') }}"></script>
<!-- Custom scripts for this template -->
<script src="{{ asset('js/clean-blog.min.js') }}"></script>
<!--Plugin DatePicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
<script>


    (function($){
        $.fn.datepicker.dates['fr'] = {
            days: ["dimanche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"],
            daysShort: ["dim.", "lun.", "mar.", "mer.", "jeu.", "ven.", "sam."],
            daysMin: ["d", "l", "ma", "me", "j", "v", "s"],
            months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
            monthsShort: ["Janv.", "Févr.", "Mars", "Avril", "Mai", "Juin", "Juil.", "Août", "Sept.", "Oct.", "Nov.", "Déc."],
            today: "Aujourd'hui",
            monthsTitle: "Mois",
            clear: "Effacer",
            weekStart: 1,
            format: "dd-mm-yyyy"
        };
    }(jQuery));

    $('.datepicker').datepicker({
        language: 'fr',
        autoclose: true,
        todayHighlight: true,
        daysOfWeekDisabled: [0,6]
    })
</script>
{% endblock %}