{% extends 'layout2.html.twig' %}
{% block title %}{% endblock %}
{% block stylesheets %}{{ parent() }} {% endblock %}
{% block body %}
    {{ parent() }}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Se connecter</h2>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                     <div class="post-preview">


                            <div class="card text-center mb-5" id="bloc-connectez-vous">
                                <form method="post">

                                    <div class="card-header">Connectez-vous<br>

                                        {% for type, messages in app.session.flashBag.all %}
                                            {% for message in messages %}
                                                {% if type == 'error' %}
                                                    {% set type = 'danger' %}
                                                {% endif %}
                                                <div class="alert alert-{{ type }} mt-2">
                                                    {{ message|raw }}
                                                </div>
                                            {% endfor %}
                                        {% endfor %}

                                    </div>
                                    <div class="card-body">
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label >Email</label>
                                                    <input type="text" name="_username" class="form-control" value="{{ last_username }}">
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label >Mot de passe</label>
                                                    <input type="password" name="_password" class="form-control">
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                    <div class="clearfix"></div>


                                    <div class="col-lg-12 text-center">
                                        <div class="card-footer">
                                            <div id="success"></div>
                                            <button id="sendMessageButton" class="btn btn-outline-dark btn-xl text-uppercase" type="submit"> Connexion</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                     </div>


                </div>
            </div>
        </div>
    <hr>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}