{% extends 'layout2.html.twig' %}

{% block title %}Vos réservations{% endblock %}
{% block stylesheets %}{{ parent() }} {% endblock %}

{% block body %}
    {{ parent() }}

    {% set status_waiting = 'room_in_waiting_list' %}
    {% set status_history = 'room_has_been_booked' %}

    {% if liste|length == 0  %}
        <h3>
            <p class="text-center">Aucune réservation</p>
        </h3>
        <div class="text-center">
        <a href="{{ path('booking_create') }}" class="btn btn-outline-dark">Nouvelle réservation</a>
        </div>
            {% else %}
        {% if is_granted('ROLE_VISITOR_ADMIN') %}
            <h3 class="text-center text-warning">
                Réservations de <strong>{{ user_booking.firstname }} {{ user_booking.lastname }}</strong>
            </h3>
        {% else %}
            <h3 class="text-center">
                Réservations de <strong>{{ user_booking.firstname }} {{ user_booking.lastname }}</strong>
                </h3>
        {% endif %}
    {% endif %}

    {% if getHistoryList(app.user,status_history)|length > 0 %}
        {% set nb_booking_in_history = getHistoryList(app.user,status_history)|length %}
        <div class="text-center">
            <a href="{{ path('user_bookings_history',{'id': app.user.id }) }}" type="button" class="btn btn-info mb-3" data-toggle="tooltip" data-placement="bottom" title="Voir mes réservation passée">
                Historique <span class="badge badge-light">{{ nb_booking_in_history }}</span>
            </a>
        </div>
    {% else %}

        <p class="text-center"><cite>(pas d'historique)</cite></p>

    {% endif %}

    {% if other_booker is not null %}
        <div class="card text-center mb-5">
            <h4 class="card-header">
                <strong>
                    Panneau de contrôle <img src="{{ asset('images/icons/visibility.png') }}" id="oeil"/>
                </strong>
            </h4>
            <div class="card-body mb-3" id="panneau-control">
                <h5 class="card-title">
                    Changer de statut
                </h5>

                {%  if status == 'booker_visitor' %}
                     <a class="btn btn-primary mt-2" href="{{ path('change_status',{'id': user_booking.id,'idvisitorasked': other_booker.id}) }}">Utilisateur<br>{{ other_booker.firstname }} {{ other_booker.lastname }}</a>
                    <a class="btn btn-warning mt-2" href="{{ path('change_status',{'id': user_booking.id,'idvisitorasked': visitor_admin.id}) }}">Administrateur<br>{{ visitor_admin.firstname }} {{ visitor_admin.lastname }}</a>

                {% endif %}
                {% if status == 'admin_visitor' %}
                    {% for booker in bookers %}
                <a class="btn btn-primary mt-2" href="{{ path('change_status',{'id' :user_booking.id,'idvisitorasked': booker.id}) }}">Utilisateur<br>{{ booker.firstname }} {{ booker.lastname }}</a>
                    {% endfor %}
                    <br>
                    <a href="{{ path('panel_admin',{'id':user_booking.id}) }}" class="btn btn-warning mt-3">Gestion</a>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <br>
    {% if liste|length > 0  %}
        {% if getWaitingList(app.user,status_waiting) %}
            {% set wl = getWaitingList(app.user,status_waiting) %}
            {% set number_of_waiting_list = wl|length %}
        {% endif %}

       <table class="table table-striped shadow-lg p-3 mb-auto bg-white rounded">
           <thead class="thead-light">
           <tr class="bg-light">
               <td colspan="7" class="text-center">
                   <a href="{{ path('booking_create') }}" class="btn btn-outline-success">Nouvelle reservation</a>
               </td>

           </tr>
                <tr>
                    <th scope="col" width="12%">Salle</th>
                    <th scope="col" width="12%">Réservation effectuée le:</th>
                    <th scope="col" width="12%">Date de la réservation</th>
                    <th scope="col" width="10%">Heure de début de la réservation</th>
                    <th scope="col" width="5%">Durée de la réservation</th>
                    <th scope="col" width="19%">Statut</th>
                    <th scope="col" width="13%">Supression</th>
                </tr>
           </thead>
           <tbody>
            {% for booking in liste %}
                {% if booking.status != 'room_has_been_booked' %}
                    <tr>
                        <td>{{ booking.room.name }}</td>
                        <td>{{ booking.bookingDate | date('d-m-Y') }}</td>
                        <td>{{ booking.dateStart | date('d-m-Y') }}</td>
                        <td>{{ booking.hourStart | date('H:i') }}</td>
                        <td>{{ booking.duration }} h</td>
                        {% if booking.status == 'room_booked' %}
                            <td>Confirmée</td>
                        {% elseif booking.status == 'room_in_waiting_list' %}
                            <td>Confirmée<br>

                               <strong><cite>(1 pers. en liste d'attente)</cite></strong>
                            </td>
                        {% elseif booking.status == 'room_has_been_confirmed' %}
                            <td>

                                <strong>Liste d'attente débloquée,<br>réservation confirmée !</strong>

                            </td>
                        {% endif %}

                        <td>
                           {% if booking.status != 'room_has_been_booked' %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('delete_user_booking', {
                                        'id': booking.id,
                                        'admin' : 1,
                                        'status' : 'booking_deleted'

                                    }) }}"
                                       class="btn btn-danger">
                                        Supprimer
                                    </a>
                                {% else %}
                                <a href="{{ path('delete_user_booking', {
                                    'id': booking.id,
                                    'status' : 'booking_deleted'
                                }) }}"
                                   class="btn btn-danger">
                                    Supprimer
                                </a>
                                {% endif %}
                           {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            {% if wl is defined and  number_of_waiting_list is defined %}

                {% if number_of_waiting_list > 0 %}
                   {% for booking_awaiting in wl %}
                        <tr class="bg-warning">
                            <td>{{ booking_awaiting.room.name }}</td>
                            <td>{{ booking_awaiting.bookingDate | date('d-m-Y') }}</td>
                            <td>{{ booking_awaiting.dateStart | date('d-m-Y') }}</td>
                            <td>{{ booking_awaiting.hourStart | date('H:i') }}</td>
                            <td>{{ booking_awaiting.duration }} h</td>
                            {% if booking_awaiting.status == 'room_in_waiting_list' %}
                                <td><strong>En liste d'attente</strong></td>
                            {% endif %}
                            <td>
                                <a href="{{ path('wl_aborted',{
                                    'status' : 'room_booked',
                                    'id' : booking_awaiting.id
                                }) }}" class="btn btn-primary">Se désister</a>
                            </td>

                        </tr>
                   {% endfor %}
                {% endif %}
           {% endif %}
           </tbody>
        </table>
    {% endif %}
    <div class="text-right mb-3">
        {% if is_granted('ROLE_ADMIN') %}
         <a href="{{ path('admin_edit_user') }}" class="btn btn-outline-secondary">Retour</a>
        {% endif %}
    </div>




{% endblock %}
