{% extends 'layout2.html.twig' %}

{% block title %}
Vos réservations passées
{% endblock %}
{% block body %}
    {{ parent() }}

    {% set status_history = 'room_has_been_booked' %}
    {% set history = getHistoryList(app.user,status_history) %}

    {% if bid is defined %}
        <table class="table table-bordered table-striped shadow-lg p-3 mb-5 bg-dark rounded text-center">
            <thead class="thead-light">
                <tr class="text-center">
                    <td>
                        <div class="card text-center" >
                            <div class="card-header">
                                <h4>
                                    Vos impressions concernant votre location du {{ bid.dateStart|date('d/m/Y') }} à {{ bid.hourStart|date('H:i') }}
                                    <br>
                                     Nom de l'espace : {{ bid.room.name }}
                                </h4>
                            </div>
                            <img class="card-img-top" src="{{ asset('images/room/' ~ bid.room.image.name) }}" width="50%">
                            <div class="card-body">
                                <h5 class="card-title">Notez la prestation</h5>
                                <form method="post" action="{{ path('booking_rate') }}">
                                    <input type="hidden" name="idb" value="{{ bid.id }}">
                                <p class="card-text">
                                    {% include 'user/rate_room_svg.html.twig' %}
                                </p>
                                <button type="submit" class="btn btn-primary">Vote !</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            </thead>
        </table>
    {% endif %}

    <table class="table table-bordered table-striped shadow-lg p-3 mb-5 bg-dark rounded">
        <thead class="thead-light">
        <tr>
            <td colspan="6" class="bg-light text-center">
                <h4 class="font-weight-bolder">HISTORIQUE DES RESERVATIONS</h4>
                <a href="{{ path('user_booking',{'id': app.user.id}) }}" class="btn btn-outline-dark">Retour</a>
            </td>
        </tr>
        </thead>
        <thead class="thead-dark">
            <tr>
                <th scope="col" width="12%">Salle</th>
                <th scope="col" width="12%">Réservation effectuée le:</th>
                <th scope="col" width="12%">Date de la réservation</th>
                <th scope="col" width="10%">Heure de début de la réservation</th>
                <th scope="col" width="5%">Durée de la réservation</th>
                <th scope="col" width="15%" class="text-center">Vote</th>
            </tr>

        </thead>
        <tbody class="bg-light">
        {% for booking in history %}
            <tr>
                <td>{{ booking.room.name }}</td>
                <td>{{ booking.bookingDate | date('d-m-Y') }}</td>
                <td>{{ booking.dateStart | date('d-m-Y') }}</td>
                <td>{{ booking.hourStart | date('H:i') }}</td>
                <td>{{ booking.duration }} h</td>
                {% if booking.rate is null %}


                    <td class="text-center">

                        <a href="{{ path('user_bookings_history',{'id': app.user.id,'bookingid': booking.id}) }}" class="btn btn-outline-success btn-sm"  >
                            Votez
                        </a>

                    </td>
                {% else %}
                    <td class="text-center">
                    <img src="{{ asset('images/rate/stars_'~ booking.rate~'.png') }}" width="50%">

                {% endif %}
            </tr>

        {% endfor %}
        </tbody>

    </table>






{% endblock %}



